/data/示例/炫彩界面库-高级示例/xc-QQ/Debug64
/data/示例/炫彩界面库-高级示例/xc-QQ音乐/Debug
/data/示例/炫彩界面库-高级示例/xc-异型圆角窗口-登录UI/Debug
/data/示例/炫彩界面库-高级示例/xc-模仿百度首页/Debug
/data/示例/炫彩界面库-高级示例/xc-深蓝色简约登陆窗口/Debug
/data/module-sdk/cache
